extends layout

block content
     .content.align-self-center#main
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a tincidunt sem. Suspendisse turpis dolor, varius vel nunc accumsan, volutpat fermentum erat. Suspendisse tristique mi sit amet sodales luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non suscipit ex. Nullam porta, risus eget mattis lobortis, sem felis interdum quam, eu varius risus sem nec mi. Duis vel scelerisque lectus, non molestie nisi. Nunc fringilla, tellus non bibendum posuere, enim urna accumsan nisi, at feugiat nunc risus in ex. Nunc ipsum neque, maximus sit amet hendrerit a, consectetur eget lacus. Sed finibus, leo in condimentum porta, mi dui gravida nulla, quis tincidunt urna purus non ligula.
     .signup
          .center 
               input(
                 type='button'
                 name='signup'
                 value="Sign Up"
               )
               input(
                 type='button'
                 name='login'
                 value="Log In"
               )